---
    import Layout from "../../layouts/Layout.astro";

    import Button from "../Button.astro";
---

<Layout title="Votar" description="Votar">
    <section class="bg-no-repeat bg-cover relative pb-24 min-h-screen w-full max-w[100vw]">
        <img class="absolute h-full animate-fade object-cover object-center animate-duration-1000 animate-ease-in-out -z10" 
             src={`/${bkg}`}
             alt="ESLAND cover">
    </section>
</Layout>